
body{
	margin: 0%;
	background-color: #efefef;
	font-family: 'Open Sans', sans-serif;
}
a{
	text-decoration-style: none;
	text-decoration-line: none;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: #F5F5F5;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: red;
    border-radius: 5px;
}
/*navbar*/
header{
	height: 10vh;
	width: 100%;
	margin-top: 3%;
	margin-bottom: 3%;
}
nav{
	width: 100%;
	height: auto;
	position: static;
}
nav img{
	margin-left: 10%;
	width: 40vh;
	height: 5vh;
}
nav ul{
	list-style-type: none;
	text-align: center;
	width: 60%;
	float: right;
}
nav ul li{
	color: white;
	display: inline;
	margin-right: 1%;
	border-radius: 5px;
}
nav ul li a{
	text-decoration: none;
	color: #444444;
	padding-right: 2%;
	padding-left: 2%;
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
}
nav ul li a:hover{
	color: white;
	background-color: #666666;
	font-weight: bold;
}
.resbtn{
  font-size: 30px;
  color: red;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}



@media (max-width: 858px){
  .resbtn{
    display: block;
    font-size: 40px;
  }
  nav img{
  	width: 35vh;
  	height: 8vh;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
  	border-bottom: 1px solid black;
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    color: black;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
/* secciones*/
section{
	width: 100%;
	height: auto;
}
#home .sect1{
	width: 100%;
	height: 50vh;
	background-color: #efefef;
	display: flex;
	justify-content: center;
}
#home .sect1 .intro{
	background-color: white;
	width: 80%;
	height: 50vh;
	border-radius: 5px;
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#home .sect1 .intro .titulos{
	width: 50%;
	height: 100%;
}
#home .sect1 .intro .titulos h1{
	margin-top: 5%;
	margin-left: 8%;
	font-weight: bold;
	font-size: 3vw;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
}
#home .sect1 .intro .titulos h2{
	margin-left: 8%;
	margin-right: 1%;
	font-size: 2vw;
	color: gray;
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
}
#home .sect1 .intro .fbtns{
	width: 50%;
	height: 100%;

}
#home .sect1 .intro .fbtns .btna{
	background-color: #1c92c4;
	padding: 5%;
	display: block;
	margin: 12% 14% 3% 14%;
	border-radius: 5px;
	color: white;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#home .sect1 .intro .fbtns .btna:hover{
	background-color: #1A779F;
	transition:all .9s ease-in-out;
	-webkit-transform:scale(1.3);transform:scale(1.1);
}
#home .sect1 .intro .fbtns .btna i{
	float: right;
	font-size: 44px;
}
#home .sect1 .intro .fbtns .btng{
	padding: 5%;
	background-color: #efefef;
	display: block;
	margin: 5% 14% 3% 14%;
	border-radius: 5px;
	color: #444444;
	font-size: 32px;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#home .sect1 .intro .fbtns .btng:hover{
	background-color: #D3D3D3;
	color: black;
	transition:all .9s;
	-webkit-transform:scale(1.3);transform:scale(1.1);
}
#home .sect1 .intro .fbtns .btng i{
	float: right;
	font-size: 44px;
}



#home .sect2{
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
}
#home .sect2 .portafolio{
	width: 90%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#home .sect2 .item-portf{
	width: 25%;
	height: 80%;
	background-color: white;
	margin-right: 3%;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#home .sect2 .item-portf:hover{
	transition:all .9s;
	-webkit-transform:scale(1.3);transform:scale(1.1);
}
#home .sect2 .item-portf .item-img{
	width: 100%;
	height: 32vh;
}
#home .sect2 .item-portf .item-titulo{
	bottom: -10%;
	color: white;
	font-weight: bold;
	position: absolute;
	margin-left: 1%;
}
#home .sect2 .item-portf .item-text1{
	font-size: 16px;
	margin-left: 1%;
	color: #444444;
}
#home .sect2 .item-portf .item-text2{
	font-size: 14px;
	margin-left: 1%;
	color: #444444;
}




#home .sect3{
	overflow: hidden;
	width: 100%;
	height: 75vh;
	background-color: white;
	display: flex;
}
#home .sect3 .inter{
	width:	40%;
	height: auto;
}
#home .sect3 .inter .imgs{
	width: 80%;
	height: 40vh;
	margin-top: 10%;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
}
#home .sect3 .inter .imgs h1{
	font-size: 16px;
	margin-left: 3%;
	color: #444444;
}
#home .sect3 .inter .imgs img{
	float: right;
	margin: 1%;
	border-radius: 5px;
	height: 12vh;
	width: 24vh;
}
#home .sect3 .inter .imgs img:hover{
	-webkit-transform:scale(1.3);transform:scale(1.1);
}
#home .sect3 .inter a{
	background-color: #1c92c4;
	padding: 3%;
	margin-left: 12%;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	vertical-align: middle;
}
#home .sect3 .inter a:hover{
	background-color: #C4C4C4;
	transition:all .9s;
	color: black;
}

#home .sect3 .inter a i{
	vertical-align: middle;
	margin-right: 1%;
}
#home .sect3 .lect{
	width: 60%;
	height: 100%;
}
#home .sect3 .lect h1{
	margin-top: 5%;
	font-size: 24px;
	color: #444444;
	font-weight: bold;
}
#home .sect3 .lect p{
	margin-right: 28%;
	color: #A0A0A0;
	font-size: 14px;
	margin-bottom: 5%;
}
#home .sect3 .lect a{
	background-color: #1c92c4;
	padding: 2%;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
#home .sect3 .lect a:hover{
	background-color: #C4C4C4;
	transition:all .9s ease-in-out;
	color: black;
}
#home .sect3 .lect a i{
	font-size: 26px;
	vertical-align: middle;
	margin-right: 1%;

}


#home footer{
	position: static;
	width: 100%;
	height: 50vh;
	background-color: #efefef;
}
#home footer .contact{
	overflow: hidden;
	height: 70%;
	width: 100%;
	background-color: #eeeeee;
	display: flex;
}
#home footer .contact div{
	margin-left: 10%;
}
#home footer .contact div h1{
	font-size: 24px;
	color: #444444;
}
#home footer .contact div p{
	font-size: 18px;
	color: #444444;
	text-decoration-line: underline;
}
#home footer .contact div img{
	width: 5vh;
	height: 5vh;
}
#home footer .contact div img:hover{
	width: 6vh;
	height: 6vh;
}
#home footer .autor{
	height: 30%;
	width: 100%;
	background-color: #eeeeee;
	text-align: center;
}


/* RESPONSIVE DESIGN*/
@media (max-width: 1200px) {
	#home .sect1{
		display: inline;
		width: 100%;
		height: auto;
	}
	#home .sect1 .intro{
		width: 100%;
		height: 100%;
		display: block;
	}
	#home .sect1 .intro .titulos{
		text-align: center;
		width: 100%;
	}
	#home .sect1 .intro .titulos h1{
		font-size: 32px;
	}
	#home .sect1 .intro .titulos h2{
		font-size: 22px;
	}
	#home .sect1 .intro .fbtns{
		text-align: center;
		width: 100%;
		height: 35vh;
	}
	#home .sect1 .intro .fbtns .btna{
		padding: 3%;
	}
	#home .sect1 .intro .fbtns .btng{
		padding: 3%;
	}
/*Section2*/
	#home .sect2{
		width: 100%;
		height: auto;
	}
	#home .sect2 .portafolio{
		display: block;
	}
	#home .sect2 .portafolio .item-portf .item-titulo{
		display: none;
	}
	#home .sect2 .portafolio .item-portf{
		width: 80%;
		height: 80%;
		margin-left: 10%;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	#home .sect3{
		width: 100%;
		height: auto;
		display: block;
	}
	#home .sect3 .inter{
	width: 100%;
	display: block;
	}
	#home .sect3 .inter .imgs{
	text-align: center;
	margin: 3%;
	margin-bottom: 5%;
	}
	#home .sect3 .inter .imgs img{
	width: 15vh;
	height: 15vh;
	}
	#home .sect3 .inter .imgs h1{
	margin-left: 25%;
	}
	#home .sect3 .inter a{
		padding: 2%;
		margin-left: 38%;
	}
	#home .sect3 .lect{
		text-align: center;
		width: 100%;
		height: auto;
	}
	#home .sect3 .lect p{
		width: 90%;
		margin-left: 3%;
		margin-right: 3%;
	}
	#home .sect3 .lect a{
		margin-top: 10%;
	}
	#home footer{
		margin-top: 10%;
		height: 10vh;
	}
	#home footer .contact{
		display: none;
	}
	#home footer .autor{
		text-align: center;
		font-size: 18px;
	}
}
